{% extends 'base.html.twig' %}

{% block title %}Category - {{ category.title }}{% endblock %}

{% block body %}
    <h1>Category - {{ category.title }}</h1>
    <p>{{ category.description }}</p>
    <div class="row">
        <img class="img-fluid" src="{{ asset('uploads/catalog_images/' ~ category.image) }}">
        {% set products = category.getProducts() %}
        {% if products %}
            <div class="col-md-12">
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="{{ path('product_show', {'id': product.id}) }}">
                                        <img class="img-fluid img-thumbnail"
                                             src="{{ asset('uploads/catalog_images/' ~ product.image) }}"
                                             alt="">
                                    </a>
                                    <h4><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.title }}</a>
                                    </h4>
                                    <h4>{{ product.price }} лв</h4>
                                    {% if product.qty > 0 %}
                                        <a class="btn btn-sm btn-success" href="{{ addToCartUrl.get(product.id) }}">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart
                                        </a>
                                    {% else %}
                                        OUT OF STOCK
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="row">
                <p>There are no products assigned to this category.</p>
            </div>
        {% endif %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="narrow row">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
                </li>
                <li class="list-group-item">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
