{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product edit</h1>
    <div class="narrow">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-primary" type="submit" value="Edit"/>
        {{ form_end(edit_form) }}
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('product_index') }}">Back to the list</a>
                </li>
                <li class="list-group-item">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
