{% extends 'base.html.twig' %}

{% block title %}Product - {{ product.title }}{% endblock %}

{% block body %}
    <h1>{{ product.title }}</h1>
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid img-thumbnail"
                 src="{{ asset('uploads/catalog_images/' ~ product.image) }}"
                 alt="">
        </div>
        <div class="col-md-6">
            {% if product.qty > 0 %}
                <h4>IN STOCK</h4>
            {% endif %}
            <h4>{{ product.price }} лв</h4>
            <p>{{ product.description }}</p>
            {% if product.qty > 0 %}
                <a class="btn btn-sm btn-success" href="{{ addToCartUrl.get(product.id) }}">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Add to Cart
                </a>
            {% else %}
                <h4>OUT OF STOCK</h4>
            {% endif %}
        </div>
    </div>


    {% if is_granted('ROLE_ADMIN') %}
        <div class="narrow row">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
                </li>
                <li class="list-group-item">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
